﻿@model Frontend.Models.StudentModel;

<h1 class="text-center mb-4">Registration Form</h1>
<br />
<br />

<div class="row">
    <div class="col-lg-6 mx-auto">
        <div class="card">
            <div class="card-body">

                @using (Html.BeginForm("HandleAdd", "Home", FormMethod.Post))
                {
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group">
                        <label asp-for="FirstName" class="control-label">First Name</label> <br />
                        <input asp-for="FirstName" class="form-control" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="LastName" class="control-label">Last Name</label> <br />
                        <input asp-for="LastName" class="form-control" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Email" class="control-label">Email</label> <br />
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Age" class="control-label">Age</label> <br />
                        <input asp-for="Age" class="form-control" />
                        <span asp-validation-for="Age" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="ID" class="control-label">ID</label> <br />
                        <input asp-for="ID" class="form-control" />
                        <span asp-validation-for="ID" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="City" class="control-label">City</label> <br />
                        <input asp-for="City" class="form-control" />
                        <span asp-validation-for="City" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="State" class="control-label">State</label> <br />
                        <input asp-for="State" class="form-control" />
                        <span asp-validation-for="State" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Address" class="control-label">Address</label> <br />
                        <input asp-for="Address" class="form-control" />
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </div>

                    <div class="text-center">
                        <button type="submit" class="btn btn-success btn-block">Submit</button>
                    </div>
                }

            </div>
        </div>
    </div>
</div>
<br />
<br />



@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}