﻿
@model IEnumerable<Frontend.Models.StudentModel>;


<h1 class="text-center text-danger mb-4 ">Student List</h1> <br/>

<table class="table">
    <thead>
        <tr>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Email</th>
            <th scope="col">Age</th>
            <th scope="col">City</th>
            <th scope="col">State</th>
            <th scope="col">Address</th>
        </tr>
    </thead>

    <tbody>

     @foreach(var i in Model)
            {
                <tr>
                    <td>@i.FirstName</td>/>
                    <td>@i.LastName</td>
                    <td>@i.Email</td>
                    <td>@i.Age</td>
                    <td>@i.City</td>
                    <td>@i.State</td>
                    <td>@i.Address</td>
                </tr>
            }

    </tbody>

</table>