﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model Frontend.Models.SearchModel;

<h1 class="text-center">Search Student</h1>


@using (Html.BeginForm("HandleSearch", "Home", FormMethod.Post))
{
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="ID" class="control-label">ID of Student</label> <br />
        <input asp-for="ID" class="form-control" />
        <span asp-validation-for="ID" class="text-danger"></span>
    </div>

    <div class="text-center">
        <button type="submit" class="btn btn-success btn-block">Submit</button>
    </div>
}


  

     


@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}

